nav ul {
    list-style-type: none;  /* Removes default bullets from unordered list */
    display: flex;
    flex-direction: column;
}

nav li {
    margin: 0;
    padding-bottom: 1em;
}

nav a {
    text-decoration: none;  /* Removes default text-underline from links */
}

nav a:link {
    color: black;       /* Changes default color of unvisted links from blue to black */
}

nav a:visited {
    color: black;       /* Changes default color of visted links from purple to black */
}

nav a:hover {
    color: white;       /* Changes default color of links to white with a black background when hovered over */
    background: black;
}

nav li:active {
    padding-right: 5px;
    padding-left: 5px;
}

nav a:focus {
    color: teal;       /* Changes default color of active link */
}